APP_NAME="Invoice Collector"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost:8080
APP_PORT=8080

DB_CONNECTION=pgsql
DB_DATABASE=invoice_collector
DB_USERNAME=invoice_collector
DB_PASSWORD=change_this_password

RUN_MIGRATIONS=false

LDAP_DOMAIN=office.lrtjakarta.co.id
LDAP_CACHE=false
LDAP_LOGGING=true
LDAP_CONNECTION=default
LDAP_ENABLED=false
LDAP_LOCAL_FALLBACK=false
LDAP_HOST=127.0.0.1
LDAP_USERNAME="CN=peduli,OU=Office365,DC=office,DC=lrtjakarta,DC=co,DC=id"
LDAP_PASSWORD=
LDAP_PORT=389
LDAP_BASE_DN="DC=office,DC=lrtjakarta,DC=co,DC=id"
LDAP_TIMEOUT=5
LDAP_SSL=false
LDAP_TLS=false
LDAP_SASL=false
LDAP_GROUP_DN="OU=Office365,DC=office,DC=lrtjakarta,DC=co,DC=id"
LDAP_LOGIN_ATTRIBUTE=mail
LDAP_FOLLOW_REFERRALS=false
