APP_NAME="Invoice Collector"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost:8080
APP_PORT=8080

DB_CONNECTION=pgsql
DB_DATABASE=invoice_collector
DB_USERNAME=invoice_collector
DB_PASSWORD=change_this_password

RUN_MIGRATIONS=false

LDAP_ENABLED=false
LDAP_LOCAL_FALLBACK=false
LDAP_LOGIN_ATTRIBUTE=mail
LDAP_HOST=ldap://localhost
LDAP_PORT=389
LDAP_BASE_DN=
LDAP_USERNAME=
LDAP_PASSWORD=
LDAP_USE_TLS=false
LDAP_TIMEOUT=5
LDAP_FOLLOW_REFERRALS=false
