APP_NAME="Invoice Collector"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost:8080
APP_PORT=8080

DB_CONNECTION=pgsql
DB_DATABASE=invoice_collector
DB_USERNAME=invoice_collector
DB_PASSWORD=change_this_password

RUN_MIGRATIONS=false
