//
// _general.scss
//

.app-wrapper {
     min-height: 100vh;
     margin: 0 auto;
     position: relative;
}

// Main Content
.page-content {
     position: relative;
     transition: all 0.3s ease-in-out;
     min-height: calc(100vh - $topbar-height);
     padding: calc($spacer * 1) calc($spacer * 1) 0 calc($spacer * 1);
     margin-left: $sidebar-width;
     display: flex;
     flex-direction: column;
}

.page-content > .container-fluid {
     flex: 1 0 auto;
     padding-bottom: calc($footer-height + $spacer * 1.5);
}
